[Desktop Entry]
Comment=Clipboard Manager
Exec=parcellite
Icon=parcellite
Name=Parcellite
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
