[Desktop Entry]
Categories=Utility
Comment=Clipboard Manager
Exec=parcellite
Icon=parcellite
Name=Parcellite
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
X-KDE-StartupNotify=false
X-KDE-autostart-after=panel
